@page
@model Web_SubTools.Pages.Sub_SwitcherModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<Utils.CommonResources> Localizer
@{
}

<div class="text-center">
    <h2 class="display-5">@Localizer["Sub Switcher"]</h2>

    <h3 class="display-6">@Localizer["What for?"]</h3>
    <p>@Localizer["In most double-sub, your native language is the first line. That is not good to learn an un-native language. This tool is to switch double-sub file's line language order."]</p>
    <h3 class="display-6">@Localizer["How to use it?"]</h3>
    <p>
        @Localizer["Select your srt/ass double-sub title file. Then click"] 
        <B>@Localizer["Switch"]</B> 
        @Localizer["button. You will see the result content in the text field. Check if it's OK. If OK, copy it into your original file's copy."]
    </p>
    <div class="row" style="height:100%">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" style="width:100%">
                <div class="form-group">
                    <label class="control-label">@Localizer["Sub File"]</label>
                    <input asp-for="Model_Sub_Switcher.SubFormFile" type="file" class="form-control" style="height:auto" />
                    <span asp-validation-for="Model_Sub_Switcher.SubFormFile" class="text-danger">@Model.fileWarning</span>
                </div>
                <input type="submit" value=@Localizer["Switch"] class="btn-default" />
            </form>
        </div>
        <div class="col-md-8">
            <label class="control-label">@Localizer["Switched Sub Title Content"]</label>
            <br />
            <textarea class="form-control" style="min-height:600px;overflow:scroll">
                @Model.switchedResult
            </textarea>
        </div>
    </div>
</div>
